<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <a th:href="@{/main}">Logo</a>
</div>
<h2>리뷰등록하기</h2>
<!-- 리뷰 폼 -->
<form th:action="@{|/review/create/${id}|}" th:object="${reviewForm}" method="post" class="my-3">
    <div th:replace="~{form_errors :: formErrorsFragment}"></div>
    <input type="text" name="subject" id="subject" placeholder="Subject">
    <textarea name="content" id="content" placeholder="Content"></textarea>
    <input type="text" name="voter" id="voter" placeholder="Voter">
    <input type="text" name="rating" id="rating" placeholder="Rating">
    <input type="text" name="starRating" id="starRating" placeholder="Star Rating">
    <!-- id 변수 전달을 위한 hidden 필드 -->
    <input type="hidden" name="id" th:value="${movie.id}">
    <!-- 제출 버튼 -->
    <button type="submit">리뷰 등록</button>
</form>


</body>
</html>