<html layout:decorate="~{layout}">
<head>
    <link rel="stylesheet" href="/modify.css">
</head>
<div layout:fragment="content" class="container" style="height:82vh">
    <h5 class="my-3 border-bottom pb-2">답변 수정</h5>
    <form th:object="${reviewForm}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="mb-3">
            <label for="subject" class="form-label">제목</label>
            <textarea th:field="*{subject}" class="form-control" rows="10" style="height:38px;"></textarea>
            <label for="content" class="form-label">내용</label>
            <textarea th:field="*{content}" class="form-control" rows="10"></textarea>
            <!-- 별점 선택 -->

            <label class="form-label" style="margin-top:20px;">별점</label>
            <div style="display: flex; justify-content: space-between;">
                <div class="star-rating">
                    <span class="star" data-rating="1" onmouseover="fillStars(1)" onclick="updateRating(1)">&#9734;</span>
                    <span class="star" data-rating="2" onmouseover="fillStars(2)" onclick="updateRating(2)">&#9734;</span>
                    <span class="star" data-rating="3" onmouseover="fillStars(3)" onclick="updateRating(3)">&#9734;</span>
                    <span class="star" data-rating="4" onmouseover="fillStars(4)" onclick="updateRating(4)">&#9734;</span>
                    <span class="star" data-rating="5" onmouseover="fillStars(5)" onclick="updateRating(5)">&#9734;</span>
                    <input type="hidden" name="starRating" id="starRating" th:value="${reviewForm.starRating}" />
                </div>
                <input type="submit" value="저장하기" class="btn btn-primary my-2">
            </div>

        </div>
    </form>
    <script>
        function fillStars(rating) {
            const stars = document.querySelectorAll('.star');
            for (let i = 0; i < stars.length; i++) {
                stars[i].classList.toggle('filled', i < rating);
            }
        }

        function resetStars() {
            const stars = document.querySelectorAll('.star');
            stars.forEach(star => star.classList.remove('filled'));
        }

        function updateRating(rating) {
            const stars = document.querySelectorAll('.star');
            resetStars();

            for (let i = 0; i < stars.length; i++) {
                stars[i].classList.toggle('filled', i < rating);
            }

            document.getElementById('starRating').value = rating;
        }
    </script>
</div>
</html>