*{
    box-sizing:border-box;
}
body{
    height: 100vh;
    background-size: cover;
    background-image: url('https://media.istockphoto.com/id/1093915698/ko/%EC%82%AC%EC%A7%84/%EA%B7%B9%EC%9E%A5%EC%97%90%EC%84%9C-%EB%B9%A8%EA%B0%84-%EC%84%9D-%ED%96%89.jpg?s=612x612&w=0&k=20&c=LkMSL4Es0nrs1iXJM2PmnOueK62eMLCPnZmOCDFQOLk=');
    margin:0;
}
.slide_cont{
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    width: 100%;
    height: 300px;
}
.select{
    background:black;
    color:white;
}
.theater_warp{
    position: relative;
    top: 40%;
    width:1230px;
    margin: 0 auto;
}

.theater_cont{
    position: relative;
    display: block;
    width: 100%;
    min-height: 190px;
    border: 3px solid #686571;
    border-radius: 10px;
    background:white;
}

.theater_title{
    width: 100%;
    height: 48px

}

.theater_title ul{
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.theater_title ul li{
    width: 140px;
}
.theater_title ul li div{
    float: left;
    width: 136px;
    height: 48px;
    line-height: 48px;
    border: 3px solid #686571;
    border-width: 0 1px 1px 0;
    text-align: center;
    box-sizing: border-box;
}



.theater_sub_menu{
    left: 0;
    top: 48px;
    width: 100%;
    min-height: 85px;
    padding: 30px 0;
    border-radius: 10px;
}

.theater_sub_menu ul{
    overflow: hidden;
    width: 100%;
    display: flow;

}

.theater_sub_menu ul li{
    margin-left: -1px;
    position: relative;
    float: left;
    width: 25%;
    line-height: 26px;
    text-align: left;
    padding-left: 40px;
    border-left: solid 1px gray;
}

.nav-link:hover{
    background:black;
    color:white;
}