<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./theater_detail.css">
</head>
<body>
<div class="detail_title">
    <a href="/theater/smallRegion" style="position: relative;top: 50px;">뒤로가기</a>
    <h2>선택지역 극장리스트</h2>
    <a href="/theater/information">극장</a>
    <label for="text">-></label>
    <a href="/theater/information">전체극장</a>
    <label for="text">-></label>
</div>
<!-- 첫 번째 smallRegion 값만을 표시합니다. -->
<div style="display:inline-block;">
    <strong></strong>&nbsp;<span th:text="${targetSmallRegion}"></span><br>
    <!-- 필요한 속성들을 추가로 표시하면 됩니다. -->
</div>
<div class="theater_cont">
    <ul>
        <li th:each="region : ${regionList}">
            <div style="display: flex;justify-content: space-between;">
                <div>
                    <!-- 엑셀 객체에서 movie 객체를 가져와서 name 속성을 표시합니다. -->
                    <strong>극장이름:</strong>&nbsp;<span th:text="${region.name}"></span><br>
                </div>
                <!-- 필요한 속성들을 추가로 표시하면 됩니다. -->
                <a th:href="@{|/theater/listdetail?region=${region.name}|}">상세보기</a>
            </div>
        </li>
    </ul>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var liElements = document.querySelectorAll('.theater_cont li');
        liElements.forEach(function (li) {
            li.classList.add('expand');
            li.style.width = '70%';
        });
    });
</script>
</body>
</html>