<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>비밀번호 찾기</h2>
<div th:if="${error}" class="error-message">
    <p th:text="${error}"></p>
</div>
<form th:action="@{/member/findpassword}" method="post" id="myPageForm">
        <div th:unless="${verificationform}">
            <label for="loginId">비밀번호를 찾을 아이디를 입력해주세요.</label>
            <input type="text" name="loginId" th:value="${loginId}">
            <input type="submit" value="확인">
        </div>
        <div th:if="${verificationform}">
            <label for="findpassword">비밀번호 찾을 방법을 선택해주세요.</label>
            <input type="hidden" name="member" th:value="${member}">
            <div class="form-check" onclick="toggleForm()">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                <label for="email" >이메일로 인증</label>
            </div>
            <div id="emailverificationForm">
                <!-- 여기에 폼의 내용을 추가하세요 -->
                <div>
                    <label for="email">인증번호를 받을 이메일을 입력하세요.</label>
                    <input type="text" name="email" th:value="${email}"  class="form-control">
                    <input type="submit" value="확인" onclick="submitForm('myPageForm', '/member/findpasswordemail')">
                </div>
                <div th:if="${emailverificationCodeform}">
                    <label for="emailverificationCode">인증번호</label>
                    <input type="hidden" name="email" th:value="${email}"  class="form-control">
                    <input type="tel" name="enterverificationCode" th:value="${enterverificationCode}">
                    <input type="submit" value="확인" onclick="submitForm('myPageForm', '/member/passwordemailverification')">
                </div>
                <!-- 예: 이메일 입력 필드, 확인 버튼 등 -->
            </div>
            <div class="form-check" onclick="phonetoggleForm()">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label for="phone">휴대전화로 인증</label>
            </div>
            <!-- 여기에 폼의 내용을 추가하세요 -->
            <div>
            <div id="phoneverificationForm">
                <label for="phone">인증번호를 받을 휴대전화번호를 입력하세요.</label>
                <input type="text" name="phone" th:value="${phone}"  class="form-control">
                <input type="submit" value="확인" onclick="submitForm('myPageForm', '/member/findpasswordPhone')">
            </div>
                <div th:if="${phoneverificationCodeform}">
                    <label for="phoneverificationCode">인증번호</label>
                    <input type="hidden" name="phone" th:value="${phone}"  class="form-control">
                    <input type="tel" name="enterphoneverificationCode" th:value="${enterphoneverificationCode}">
                    <input type="submit" value="확인" onclick="submitForm('myPageForm', '/member/passwordephoneverification')">
                </div>
            </div>
        </div>
</form>
<script>
    function toggleForm() {
        var form = document.getElementById("emailverificationForm");
        if (form.style.display === "none") {
            form.style.display = "block";
        } else {
            form.style.display = "none";
        }
    }
     function phonetoggleForm() {
        var form = document.getElementById("phoneverificationForm");
        if (form.style.display === "none") {
            form.style.display = "block";
        } else {
            form.style.display = "none";
        }
    }
</script>
<script>
    function submitForm(formId, action) {
        var form = document.getElementById(formId);
        form.action = action; // 액션을 동적으로 설정
        form.submit(); // 폼 제출
    }
</script>
</body>
</html>