<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/LoginandSignup/find.css">
</head>
<body  style="width:1920px">
<div class="find_cont">
    <h2>비밀번호 찾기</h2>
    <div th:if="${error}" class="error-message">
        <p th:text="${error}"></p>
    </div>
    <form th:action="@{/member/findpassword}" method="post" id="myPageForm">
        <div th:unless="${verificationform}" class="form-section">
            <label for="loginId">비밀번호를 찾을 아이디를 입력해주세요.</label>
            <input type="text" name="loginId" th:value="${loginId}" class="form-control">
            <input type="submit" value="확인" class="btn btn-primary">
        </div>
        <div th:if="${verificationform}" class="form-section">
            <label for="findpassword">비밀번호 찾을 방법을 선택해주세요.</label>
            <input type="hidden" name="member" th:value="${member}">
            <div class="form-check" >
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" onclick="toggleForm()" checked>
                <label for="email" >이메일로 인증</label>
            </div>
            <!-- 에러 메세지 표시 -->
            <div th:if="${errorMessage}" class="error-message">
                <p th:text="${errorMessage}" class="error-text"></p>
            </div>
            <div id="emailverificationForm" style="display: none;">
                <!-- 이메일 폼 내용 -->
                <label for="email">인증번호를 받을 이메일을 입력하세요.</label>
                <input type="text" name="email" th:value="${email}" class="form-control">
                <input type="submit" value="확인" class="btn btn-primary" onclick="submitForm('myPageForm', '/member/findpasswordemail', 'post')">
                <div th:if="${emailverificationCodeform}">
                    <label for="emailverificationCode">인증번호</label>
                    <input type="tel" name="enterverificationCode" th:value="${enterverificationCode}" class="form-control">
                    <input type="submit" value="확인" class="btn btn-primary" onclick="submitForm('myPageForm', '/member/passwordemailverification', 'get')">
                </div>
            </div>
            <div class="form-check" >
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" onclick="phonetoggleForm()">
                <label for="phone">휴대전화로 인증</label>
            </div>
            <div id="phoneverificationForm" style="display: none;">
                <!-- 휴대전화 폼 내용 -->
                <label for="phone">인증번호를 받을 휴대전화번호를 입력하세요.</label>
                <input type="text" name="phone" th:value="${phone}" class="form-control">
                <input type="submit" value="확인" class="btn btn-primary" onclick="submitForm('myPageForm', '/member/findpasswordPhone', 'get')">
                <div th:if="${phoneverificationCodeform}">
                    <label for="phoneverificationCode">인증번호</label>
                    <input type="tel" name="enterphoneverificationCode" th:value="${enterphoneverificationCode}" class="form-control">
                    <input type="submit" value="확인" class="btn btn-primary" onclick="submitForm('myPageForm', '/member/passwordephoneverification', 'get')">
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    window.onload = function() {
        var selectedTab = localStorage.getItem('selectedTab');
        var phoneRadio = document.getElementById('flexRadioDefault2');
        var emailRadio = document.getElementById('flexRadioDefault1');

        if (selectedTab === 'phone') {
            phonetoggleForm();
            phoneRadio.checked = true;
        } else {
            toggleForm();
            emailRadio.checked = true;
        }
    };

    function toggleForm() {
        document.getElementById("emailverificationForm").style.display = "block";
        document.getElementById("phoneverificationForm").style.display = "none";
        localStorage.setItem('selectedTab', 'email');
    }

    function phonetoggleForm() {
        document.getElementById("emailverificationForm").style.display = "none";
        document.getElementById("phoneverificationForm").style.display = "block";
        localStorage.setItem('selectedTab', 'phone');
    }
</script>
<script>
    function submitForm(formId, action, method) {
        var form = document.getElementById(formId);
        form.action = action; // 액션을 동적으로 설정
        form.method = method; // 메서드를 동적으로 설정
        form.submit(); // 폼 제출
    }
</script>
</body>
</html>