<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>비밀번호 찾기</h2>
<div th:if="${error}">
    <!-- 에러 메시지를 보여주는 부분 -->
    <p th:text="${error}" class="error-message"></p>
</div>
<form th:action="@{/member/findpassword}" method="post">
        <div>
            <label for="loginId">비밀번호를 찾을 아이디를 입력해주세요.</label>
            <input type="text" name="loginId" th:value="${loginId}">
            <input type="submit" value="확인">
        </div>
        <div th:if="${verificationform}">
            <label for="findpassword">비밀번호 찾을 방법을 선택해주세요.</label>
            <input type="hidden" name="member" th:value="${member}">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                <label for="email">이메일로 인증</label>
            </div>
        </div>
</form>
</body>
</html>