<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://kit.fontawesome.com/9b3b71a088.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/LoginandSignup/mymovie.css">
</head>
<body style="width:1920px">
<a th:href="@{/member/mypage}">
    <i id="back" class="fa-solid fa-left-long" style="position: absolute;top: 3%;left: 10%;color: white;font-size: 60px;"></i>
</a>
<h1>내가 찜한 영화</h1>
<section>
    <div>
        <ul>
            <li><img src="https://cdn.pixabay.com/photo/2023/09/23/15/42/space-8271231_640.png"></li>
            <li><img src="https://cdn.pixabay.com/photo/2023/09/23/15/42/space-8271231_640.png"></li>
            <li><img src="https://cdn.pixabay.com/photo/2023/09/23/15/42/space-8271231_640.png"></li>
            <li><img src="https://cdn.pixabay.com/photo/2023/09/23/15/42/space-8271231_640.png"></li>
            <li><img src="https://cdn.pixabay.com/photo/2023/09/23/15/42/space-8271231_640.png"></li>
            <li><img src="https://cdn.pixabay.com/photo/2023/09/23/15/42/space-8271231_640.png"></li>
            <li><img src="https://cdn.pixabay.com/photo/2023/09/23/15/42/space-8271231_640.png"></li>
            <li><img src="https://cdn.pixabay.com/photo/2023/09/23/15/42/space-8271231_640.png"></li>
            <li><img src="https://cdn.pixabay.com/photo/2023/09/23/15/42/space-8271231_640.png"></li>
            <li><img src="https://cdn.pixabay.com/photo/2023/09/23/15/42/space-8271231_640.png"></li>
            <li><img src="https://cdn.pixabay.com/photo/2023/09/23/15/42/space-8271231_640.png"></li>
            <li><img src="https://cdn.pixabay.com/photo/2023/09/23/15/42/space-8271231_640.png"></li>
            <li><img src="https://cdn.pixabay.com/photo/2023/09/23/15/42/space-8271231_640.png"></li>
            <li><img src="https://cdn.pixabay.com/photo/2023/09/23/15/42/space-8271231_640.png"></li>
            <li><img src="https://cdn.pixabay.com/photo/2023/09/23/15/42/space-8271231_640.png"></li>
            <li><img src="https://cdn.pixabay.com/photo/2023/09/23/15/42/space-8271231_640.png"></li>
            <li><img src="https://cdn.pixabay.com/photo/2023/09/23/15/42/space-8271231_640.png"></li>
            <li><img src="https://cdn.pixabay.com/photo/2023/09/23/15/42/space-8271231_640.png"></li>
            <li><img src="https://cdn.pixabay.com/photo/2023/09/23/15/42/space-8271231_640.png"></li>
            <li><img src="https://cdn.pixabay.com/photo/2023/09/23/15/42/space-8271231_640.png"></li>
            <li><img src="https://cdn.pixabay.com/photo/2023/09/23/15/42/space-8271231_640.png"></li>
            <li><img src="https://cdn.pixabay.com/photo/2023/09/23/15/42/space-8271231_640.png"></li>
        </ul>
    </div>
</section>
</body>
</html>