<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <link rel="stylesheet" href="/LoginandSignup/subpage.css">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.21/dist/full.min.css" rel="stylesheet" type="text/css"/>
</head>
<body style="width:1920px">
<div class="subpage_cont" style="height: 40%;">
    <div style="height:100%;">
        <h2 >비밀번호 수정</h2>
        <label for="text" style="color: red;">이전에 사용하지 않는 비밀번호가 안전합니다.</label>
        <label for="mypagepassword">새로운 비밀번호를 입력하세요.</label>
        <input type="hidden" id="error-msg" th:value="${error}">
        <form th:action="@{/member/mypagepasswordupdate}" method="post">
            <div>
                <div>
                    <label for="password3">현재비밀번호</label>
                    <input class="form-control" type="password" name="currentpassword" id="currentpassword"
                           th:value="${currentpassword}">
                    <label for="password">비밀번호</label>
                    <input class="form-control" type="password" name="mypagepassword" id="mypagepassword"
                           th:value="${mypagepassword}">
                    <label for="password1">비밀번호확인</label>
                    <input class="form-control" type="password" name="mypagepassword1" id="mypagepassword1"
                           th:value="${mypagepassword1}">
                    <input class="btn btn-primary my-2" type="submit" value="확인">
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    test();

    function test() {
        var errorMessage = document.getElementById('error-msg').value;
        if (errorMessage.trim() !== "") {
            // 여기에 스크립트 로직 추가
            alert(errorMessage);
        }
    }
</script>
<script>
    function createStar() {
      const star = document.createElement('div');
      star.className = 'star';
      star.style.left = `${Math.random() * 100}vw`;
      star.style.top = `${Math.random() * 100}vh`;
      document.body.appendChild(star);
    }

    // 별빛 여러 개 생성
    for (let i = 0; i < 500; i++) {
      createStar();
    }
</script>
<script>
    function createGalaxy() {
      const galaxy = document.createElement('div');
      galaxy.className = 'galaxy';
      galaxy.style.left = `${Math.random() * 100}vw`;
      galaxy.style.top = `${Math.random() * 100}vh`;
      document.body.appendChild(galaxy);
    }


    for (let i = 0; i < 100; i++) {
      createGalaxy();
    }
</script>
</body>
</html>