<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>마이페이지</h2>
<div>
    <label for="text">비밀번호 수정</label>
</div>
<label for="text" style="color: red;">이전에 사용하지 않는 비밀번호가 안전합니다.</label>
<label for="mypagepassword">새로운 비밀번호를 입력하세요.</label>
<form th:action="@{/member/mypagepasswordupdate}" method="post" onsubmit="return validatePassword()">
    <div>
        <div>
            <label for="password3">현재비밀번호</label>
            <input type="password" name="currentpassword" id="currentpassword" th:value="${currentpassword}">
            <label for="password">비밀번호</label>
            <input type="password" name="mypagepassword" id="mypagepassword" th:value="${mypagepassword}">
            <label for="password1">비밀번호확인</label>
            <input type="password" name="mypagepassword1" id="mypagepassword1" th:value="${mypagepassword1}">
            <input type="submit" value="확인">
        </div>
    </div>
</form>
<script th:if="${error}">
    var errorMessage = "${error}";

    if (errorMessage.trim() !== "") {
        // 여기에 스크립트 로직 추가
        alert(errorMessage);
    }
</script>
</body>
</html>