<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>비밀번호 재설정</h2>
<label for="text" style="color: red;">이전에 사용하지 않는 비밀번호가 안전합니다.</label>
<form th:action="@{/member/passwordupdate}" method="post" onsubmit="return validatePassword()">
<div>
    <label for="passwordreset">새로운 비밀번호를 입력하세요.</label>
    <div>
        <label for="password">비밀번호</label>
        <input type="password" name="password" id="password" th:value="${password}">
        <label for="password1">비밀번호확인</label>
        <input type="password" name="password1" id="password1" th:value="${password1}">
        <input type="submit" value="확인">
    </div>
</div>
</form>
<script>
    function validatePassword() {
        var password = document.getElementById("password").value;
        var password1 = document.getElementById("password1").value;

        if (password !== password1) {
            alert("비밀번호가 일치하지 않습니다. 다시 확인해주세요.");
            return false; // 폼 전송을 중지
        }

        return true; // 폼 전송을 계속
    }
</script>
</body>
</html>