<html  xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<body style="background:black;     width:1920px;">
<div layout:fragment="content" class="container my-3" style="position: relative; top: 15%;">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <div style=" width:60%; margin-left: auto; margin-right: auto;
                 -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 3px 12px rgba(0, 0, 0, 0.22);
                 -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(255,255,255);
                 -ms-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(255,255,255);
                 -o-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(255,255,255);
                 box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 3px 12px rgba(255,255,255);
                 background-image: url('https://cdn.pixabay.com/photo/2014/10/16/09/15/lens-490806_640.jpg'); background-size: cover; background-position: center; height: 75vh;">
        <div class="my-3" style="color:white; text-align:center; ">
            <div style="padding-top: 20px;">
                <h2>회원가입</h2>
            </div>
        </div>
        <form th:action="@{/member/signup}" th:object="${memberCreateForm}" method="post"
              style="color:white; width:46%; margin-left: auto; margin-right: auto; margin-top: 55px;">
            <div th:replace="~{form_errors :: formErrorsFragment}"></div>
            <div class="mb-3">
                <label for="loginId" class="form-label"><strong>아이디</strong></label>
                <input type="text" th:field="*{loginId}" class="form-control">
            </div>
            <div class="mb-3">
                <label for="nickName" class="form-label"><strong>닉네임</strong></label>
                <input type="text" th:field="*{nickName}" class="form-control">
            </div>
            <div class="mb-3">
                <label for="password1" class="form-label"><strong>비밀번호</strong></label>
                <input type="password" th:field="*{password1}" class="form-control">
            </div>
            <div class="mb-3">
                <label for="password2" class="form-label"><strong>비밀번호 확인</strong></label>
                <input type="password" th:field="*{password2}" class="form-control">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">이메일</label>
                <input type="email" th:field="*{email}" class="form-control">
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">휴대전화번호</label>
                <input type="tel" th:field="*{phone}" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">signup</button>
        </form>
    </div>
</div>
</body>
</html>









































































































































































