<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Index Form</title>
</head>
<body>
<div>
    <a th:href="@{/main}">Logo</a>
</div>
<form th:action="@{/member/duplicate}" method="post">
<h1>닉네임 재설정</h1>
    <label for="text" style="color:red;">사용하고 계시는 닉네임이 현재 다른 유저가 사용중인 닉네임입니다. 닉네임을 수정후 다시 로그인 해주세요.</label>
<div>
    <label for="nickname" class="form-label">닉네임</label>
    <input type="text" name="nickname" id="nickname">
</div>
<p>Social login successful for member with ID: <span th:text="${id}"></span></p>
<!-- Add other content as needed -->
    <button type="submit">확인</button>
    <!-- 에러 메세지 표시 -->
    <div th:if="${error}" class="error-message">
        <p th:text="${error}" class="error-text"></p>
    </div>
</form>
</html>