.notification_cont{
    margin-top:20px;
    font-size:40px;
    font-weight:bold;
}

.write_cont{
    display: flex;
    justify-content: end;
    width: 89%;
    font-weight: bold;
}

.write_cont > div > input{
    border: solid 2px black;
    border-radius: 10px;
    padding: 2px;
    margin-bottom: 10px;
    transition: 0.5s;
}

.write_cont > div > input:hover{
    background: rgb(204,204,204);

}

table{
    width:100%;
}

thead{
    border-top: solid 1px;
    background: aliceblue
}