<html  lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/movie/intro.css">
    <script src="https://kit.fontawesome.com/9b3b71a088.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="logo">
             <span class="icon-container">
                 <i class="fa-solid fa-video" style="background: linear-gradient(45deg, #ff8a00, #e52e71); -webkit-background-clip: text; -webkit-text-fill-color: transparent;"></i>
             </span>
    <span class="phantom-film" >FilmPhantom</span>
</div>
<div class="intro_container" >
    <div class="img-container">
        <div class="box">
            <img src="https://i.namu.wiki/i/dQYtrYCT20iBXl8NVB32m-USGBNORan-hsEgwrGpEQeivNd-R-MTfLh0v01lmGV3CUc4PMCuW6BEswVt_Gt6MQ.webp"
                 alt=""/>
        </div>
        <div class="box">
            <img src="https://i.namu.wiki/i/Jw0sUVobNhQaqLSOE1C7iSozBgLh6rRIv-MK-rQKDRIpZwEhZVtSnMTN1c_0FSEkVTksvl4y9rLBGDPJTMbaNg.webp"
                 alt=""/>
        </div>
        <div class="box">
            <img src="https://i.namu.wiki/i/4B9xgGFK3QKCN4KILuNYhXNFQdTrewvumd-77wLBZ39Gqw1KO_w6uL0y9vM280U41p0zRBsfFMFVE30w85Q1bA.webp"
                 alt=""/>
        </div>
        <div class="box">
            <img src="https://i.namu.wiki/i/hH9glgx5SvCd85X2KvGOwJ9zl0bdorVUwLw4S2lprbItV2qYiphUC84bcks5HY3YcnitO4oQWwZxVAGucmJHIw.webp"
                 alt=""/>
        </div>
        <div class="box">
            <img src="https://i.namu.wiki/i/c1IIhmP363GHY4vtClQViy6dqGlA42G36LUBNs_C6l0GZXImLBtzVzAJGuebxlbxUzU8hCNKzrjkVzJB_RxMAg.webp"
                 alt=""/>
        </div>
    </div>

    <div class="show_text">
        <pre class="text_mg">
            <h1 style="font-size:40px"><span style="background: linear-gradient(to right,#663399, #ff0000, #663399);">FilmPhantom</span>를 찾아주셔서 감사합니다!</h1>
            <h3 style="font-size:25px">집순이 집돌이를 위한 영화들을 다 모았습니다!</h3>
            <h2 style="font-size:20px">액션,코미디,로맨스,스릴러,호러,SF,판타지</h2>
            <p style="font-size:15px">모든 장르의 영화가 준비되어있습니다!</p>
            <h1 style="font-size:40px"><strong>준비되셨다면 시청하기를 눌러주세요!</strong></h1>
            <a href="/main" class="container" style="text-decoration: none; position:relative; top:30px;">
                <button class="pulse-button">시청하기</button>
            </a>
        </pre>
    </div>
    <script>
        let imgContainer = document.querySelector(".img-container");

    setInterval(() => {
     let last = imgContainer.firstElementChild;
     last.remove();
     imgContainer.appendChild(last);
    }, 2500);
    </script>
</div>
</body>
</html>