<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <title>Title</title>
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
<h2>관리자 페이지</h2>
<ul class="nav">
    <ul class="nav">
        <li class="nav-item">
            <input type="hidden" name="member" th:value="${member}">
            <a class="admin" role="button" onclick="toggleForm()">회원관리</a>
        </li>
    </ul>
    <li class="nav-item">
        <a class="nav-link" href="#">리뷰관리</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">무비관리</a>
    </li>
</ul>
<div>
    <!--   회원 검색  -->
    <div id="memberForm">
        <form th:action="@{/admin/adminsignup}" method="post">
            <h2>회원검색</h2>
            <label for="search">회원 아이디 검색:</label>
            <input type="text" id="loginId" name="loginId" placeholder="아이디를 입력하세요" th:value="${loginId}" required>
            <input type="submit" value="검색">
        </form>
        <form th:action="@{/admin/admindelete}" method="post" id="myPageForm">
            <div th:if="${validSearch != null and validSearch and memberExists != null and memberExists}">
                <label for="text">검색된 회원</label>
                <input type="text" name="loginId" th:value="${memberFromDB.loginId}" class="form-control" readonly>
                <!-- 여기서 검색된 회원 정보를 표시할 수 있습니다. -->
                <input type="submit" value="회원탈퇴시키기">
                <input type="submit" value="작성한 리뷰보기" onclick="submitForm('myPageForm', '/admin/adminreview')">
            </div>
            <input type="hidden" id="error-msg" th:value="${error}">
        </form>
        <!-- 에러 메세지 표시 -->
        <div th:if="${errorMessage}" class="error-message">
            <p th:text="${errorMessage}" class="error-text"></p>
        </div>
        <div class="container my-3">
            <div class="row">
                <div class="col-md-8" style="width: 100%;">
                    <div th:each="review : ${paging}" class="card mb-3">
                        <!-- 리뷰 목록을 출력하는 반복문 -->
                        <h2>이 회원이 작성한리뷰</h2>
                        <ul>
                            <div>
                                <div>
                                    <label for="loginId" class="form-label">영화이름</label>
                                    <input type="text" th:value="${review.movie.name}" class="form-control" readonly>
                                </div>
                                <div>
                                    <label for="loginId" class="form-label">리뷰제목</label>
                                    <input type="text" th:value="${review.subject}" class="form-control" readonly>
                                </div>
                                <div>
                                    <label for="loginId" class="form-label">리뷰내용</label>
                                    <input type="text" th:value="${review.content}" class="form-control" readonly>
                                </div>
                                <div>
                                    <label for="loginId" class="form-label">평점</label>
                                    <input type="text" th:value="${review.starRating}" class="form-control" readonly>
                                </div>
                                <div>
                                    <label for="loginId" class="form-label">작성일시</label>
                                    <input type="text"  th:value="${#temporals.format(review.createDate, 'yyyy-MM-dd HH:mm:ss')}" class="form-control" readonly>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${paging != null and !paging.isEmpty()}">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{|?page=${paging.number-1}&loginId=${loginId}|}">
                        <span>이전</span>
                    </a>
                </li>
                <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                    th:if="${page >= paging.number-5 and page <= paging.number+5}"
                    th:classappend="${page == paging.number} ? 'active'"
                    class="page-item">
                    <a th:text="${page}" class="page-link" th:href="@{|?page=${page}&loginId=${loginId}|}"></a>
                </li>
                <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                    <a class="page-link" th:href="@{|?page=${paging.number+1}&loginId=${loginId}|}">
                        <span>다음</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    function toggleForm() {
        var form = document.getElementById('memberForm');
        if (form.style.display === 'none' || form.style.display === '') {
            form.style.display = 'block';
        } else {
            form.style.display = 'none';
        }
    }
</script>
<script>
    function submitForm(formId, action) {
        var form = document.getElementById(formId);
        form.action = action; // 액션을 동적으로 설정
        form.method = 'get';
        form.submit(); // 폼 제출
    }
</script>
<script>
    test();

    function test() {
        var errorMessage = document.getElementById('error-msg').value;
        if (errorMessage.trim() !== "") {
            // 여기에 스크립트 로직 추가
            alert(errorMessage);
        }
    }
</script>
</body>
</html>