<!-- apiMovie.html -->
<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Weekly Movie Data</title>
</head>
<body>

<!-- 기존의 영화 목록 출력 부분 -->
<h2>Weekly Box Office Movies</h2>
<div th:each="movie : ${movies}">
    <div th:text="${movie.movieNm}"></div>
</div>





<form th:action="@{/weeklyMovie}" th:method="get" id="dateForm">
    <label for="targetDt">날짜 선택:</label>
    <input type="date" id="targetDt" name="targetDt" th:value="${selectedDate}">
    <button type="submit">주간 박스오피스 조회</button>
</form>

<button id="prevWeek">한 주 전</button>



