<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>

</head>
<body>


<div th:each="movie : ${movieInfoList}" class="movieItem">
        <img th:src="${movie.posters}" alt="">
    <h2 th:text="${movie.movieNm}"></h2>
    <div class="detail_cont" th:each="genre : ${movie.genreMovieInfos}">
        <p class="detail_cont_subb" th:text="${genre.genre.genreNm}"></p>

    </div>
    <a th:href="@{|/board/article/list/${movie.id}|}">들어가기</a>

</div>


<div class="movieSelectionLink">
    <a th:href="@{/board/create}">방만들기</a>
</div>


</body>
</html>