<!DOCTYPE html>
<html layout:decorate="~{layout}">
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
<div layout:fragment="content" class="container my-3">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>
        <h2>movie</h2>
        <form th:action="@{/user/signup}" method="get">
        <div>
            <button type="submit">회원가입</button>
        </div>
        </form>
        <form th:action="@{/user/login}" method="post">
            <div>
                <button type="submit">로그인</button>
            </div>
        </form>
        <form>


</body>
</div>
</html>