<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.21/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/9b3b71a088.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="main.css">
</head>
<body>
<div class="main_container">
    <!-- 배너컨테이터 -->
    <div class="baner_container" id="bannerContainer">
        <div class="baner">
            <img src="https://cdn.pixabay.com/photo/2017/11/24/10/43/ticket-2974645_1280.jpg" alt="img">
        </div>
        <div class="baner">
            <img src="https://cdn.pixabay.com/photo/2016/09/14/08/18/film-1668918_1280.jpg" alt="img">
        </div>
        <div class="baner">
            <img src="https://cdn.pixabay.com/photo/2014/02/02/17/40/photographs-256888_1280.jpg" alt="img">
        </div>
    </div>
    <!-- 배너컨테이터 여기까지-->

    <!-- 로그인컨테이너 -->
    <div class="title_container">
        <div class="logo">
             <span class="icon-container">
                 <i class="fa-solid fa-video"></i>
             </span>
            <span class="m_p" style="color:red;">M</span><span class="m_o">o</span><span class="m_v">v</span><span class="m_i">i</span><span class="m_e">e</span>
        </div>
        <div class="sub_nav">
            <div class="dropdown dropdown-hover">
                <div tabindex="0" role="button" class="btn m-1" style="color:white; background-color:black;">영화</div>
                <ul tabindex="0" class="dropdown-content z-[1] menu p-2 rounded-box w-52">
                    <li ><a  href="/movie/list">Top100</a></li>
                    <li ><a  href="/movie/mainList">장르</a></li>
                </ul>
            </div>
            <div class="dropdown dropdown-hover">
                <div tabindex="0" role="button" class="btn m-1"  style="color:white; background-color:black;"><a
                        href="/movie/intro">소개</a></div>
            </div>
            <div class="dropdown dropdown-hover">
                <div tabindex="0" role="button" class="btn m-1"  style="color:white; background-color:black;">극장</div>
                <ul tabindex="0" class="dropdown-content z-[1] menu p-2  rounded-box w-52">
                    <li><a href="/theater/information">전체극장</a></li>
                    <li><a href="/theater/information">지역</a></li>
                    <li><a href="#">위치</a></li>
                </ul>
            </div>
        </div>
        <div class="login_container">
            <a class="admin" role="button" th:if="${#authorization.expression('isAuthenticated() and hasRole(''ADMIN'')')}" th:href="@{/admin/adminpage}">관리자</a>
            <a class="mypage" role="button" th:if="${#authorization.expression('isAuthenticated()')}"  th:href="@{/member/mypage}">mypage</a>
            <a class="Sign_in" role="button" sec:authorize="isAnonymous()" th:href="@{/member/login}">Sign_in</a>
            <a class="Sign_in" role="button" sec:authorize="isAuthenticated()" th:href="@{/member/logout}">Sign_out</a>
            <a class="Sing_up" role="button" th:href="@{/member/signup}">Sing_up</a>
        </div>
    </div>
    <!-- 로그인컨테이너 여기까지-->
    <!-- 비디오컨테이너 -->
    <div class="video_container" >
        <div class="video_bg" style="background-image: url('pexels-blockhaus-malung-19298575 (Original).mp4');"></div>
        <div class="movie_title_container">
            <h1 class="movie_title"><strong style="z-index:99;">마블 공식 예고편</strong></h1>
            <button id="movie_view_btn" class="movie_view_btn">예고편 보기</button>
        </div>
        <div class="video">
            <div style="position: relative; height:0; padding-bottom: 56.25%; margin: 40px 0px;">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ybhXVSAdIRE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="position: absolute; width:100%; height:100%; z-index:99;"></iframe>
            </div>
        </div>
    </div>
    <!-- 비디오컨테이너 여기까지 -->

    <!-- 검색컨테이너 -->
    <section class="frame">
        <div class="serch_container">
            <input class="serch" type="text" placeholder="검색">&nbsp;
            <button class="button button-first" data-type="square"> 검색</button>
        </div>
    </section>
    <!-- 검색컨테이너 여기까지 -->
    <section class="card_container">
        <div class="list_container">
            <ul th:each="movie, loop : ${paging}" class="list">
                <a th:href="@{|/movie/detail/${movie.id}|}">
                    <li class="card">
                        <img src="https://cdn.pixabay.com/photo/2023/11/14/15/46/nikon-8388022_1280.jpg" alt="Card 1">
                    </li>
                </a>
                <a th:href="@{|/movie/detail/${movie.id}|}">
                    <li class="card">
                        <img src="https://cdn.pixabay.com/photo/2023/11/14/15/46/nikon-8388022_1280.jpg" alt="Card 2">
                    </li>
                </a>
                <a th:href="@{|/movie/detail/${movie.id}|}">
                    <li class="card">
                        <img src="https://cdn.pixabay.com/photo/2023/11/14/15/46/nikon-8388022_1280.jpg" alt="Card 3">
                    </li>
                </a>
                <a th:href="@{|/movie/detail/${movie.id}|}">
                    <li class="card">
                        <img src="https://cdn.pixabay.com/photo/2023/11/14/15/46/nikon-8388022_1280.jpg" alt="Card 4">
                    </li>
                    <li class="card">
                        <img th:text="${movie.movieNm}" src="https://cdn.pixabay.com/photo/2023/11/14/15/46/nikon-8388022_1280.jpg" alt="Card 1">
                    </li>
                </a>
                <a th:href="@{|/movie/detail/${movie.id}|}">
                    <li class="card">
                        <img th:text="${movie.movieNm}"
                             src="https://cdn.pixabay.com/photo/2023/11/14/15/46/nikon-8388022_1280.jpg" alt="Card 2">
                    </li>
                </a>
                <a th:href="@{|/movie/detail/${movie.id}|}">
                    <li class="card">
                        <img src="https://cdn.pixabay.com/photo/2023/11/14/15/46/nikon-8388022_1280.jpg" alt="Card 3">
                    </li>
                </a>
                <a th:href="@{|/movie/detail/${movie.id}|}">
                    <li class="card">
                        <img src="https://cdn.pixabay.com/photo/2023/11/14/15/46/nikon-8388022_1280.jpg" alt="Card 4">
                    </li>
                </a>
            </ul>
            <div class="card_btn">
                <button class="left"><i class="fa-solid fa-chevron-left"></i></button>
                <button class="right"><i class="fa-solid fa-chevron-right"></i></button>
            </div>
        </div>
    </section>
</div>
</body>
<script src="main.js"></script>
</html>