<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="" style="width:1920px">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/mainlist.css">

</head>
<body>
<div layout:fragment="content">
    <section class="list_cont">
        <div class="suggestion_cont">
            <h1><strong>추천 10</strong></h1>
        </div>
        <div class="img-container">
            <div class="box">
                <img src="https://occ-0-8123-325.1.nflxso.net/dnm/api/v6/WNk1mr9x_Cd_2itp6pUM7-lXMJg/AAAABa-FG8F84U35af8D-37rKK452hXyODVudHpyY4phtofByOLYryJb0y0m6_wbsxzciJ_FzSVX4ybOAOjyPMEwC7LEj2_kDeDF48r6.webp?r=b4d"
                     alt=""/>
            </div>
            <div class="box">
                <img src="https://occ-0-8123-325.1.nflxso.net/dnm/api/v6/WNk1mr9x_Cd_2itp6pUM7-lXMJg/AAAABXeLIzdzaadczNJnLTSxL7PAjpCZDbSpMCtc0C1-Yz8btDop0Hd6KpaBuRZ_iC5ns4WURdZ1zN6Bfd4t4Nks97BJuaNd_1Pco55JeBsbYOYAAK0XKdDNs8Uv8yJDNXUEblVN1TulWokAf8iXsDSwPmRgvfd-wCljGw8MfVlAz029-Fou1A_FD000aGMiSE7oU4wfSd6NkN_GLXkuaQYTpSl0vLzHliIFjKg8XObAujlyTRc_EWAgpG0LOwsI7r32vI0J3AZHnYmJuDEvbtqWtp3fZmzO.webp?r=c33"
                     alt=""/>
            </div>
            <div class="box">
                <img src="https://occ-0-8123-325.1.nflxso.net/dnm/api/v6/WNk1mr9x_Cd_2itp6pUM7-lXMJg/AAAABRsF7KC9y-HX4X3Z_7TVvbz7_698_ueyd2kDgB6x0w4bGLeldM8ZNwNTstvr_jrgKUPrOHpisKtQQLWEAJN33UZqGpJDHmpKUbeCYABc21dbz_RE0LJqWwcIQi8fZ4R8y0Ti1TRDghS1N852STxhooiQz045vttG83Em8xOIjQkOEUjzd2EMkJYZVeO8VkYXnqEiE6KLIxcg0jAAPgxyMXnMlPl_kwmSidrvY5h_7_KCmpFqUv3F8vnxeEjP2MoiEoz9Y5sEV9GXpKp3xXbFP2YrKPOk.webp?r=4ed"
                     alt=""/>
            </div>
            <div class="box">
                <img src="https://occ-0-8123-325.1.nflxso.net/dnm/api/v6/WNk1mr9x_Cd_2itp6pUM7-lXMJg/AAAABU8Q8LVaTAy5xJkTGyAwTuTYCzR4KejbSaeCCFHGMKgOY8LMO-4Igvyid-7tcCKV_SlDGrvBmrv6RMBNcJH5kGBb8wK35p8wihINdvFktVx_3b6qHUdlMGu0EWFvNaZvCCQK9D4J5BoQSAD46TzIXQ1k2P_vcTu__SEPzdlhyY4exy7lVHxHf1d0qdEdlHM44b1fyvf9gkqALPZQGOiL4Q2ECQ2EUweQacjZlVsc1lhYz20oQqxFzBKa17xRpyIx5Ly3-2yhxsR7FJybw8LGaMMRngAr.webp?r=f13"
                     alt=""/>
            </div>
            <div class="box">
                <img src="https://occ-0-8123-325.1.nflxso.net/dnm/api/v6/WNk1mr9x_Cd_2itp6pUM7-lXMJg/AAAABWSNy1b-y75mQb74Bq06viqKMwDsjAV0S7j4tMpQaf4NP0D5bLngZhfwYpDKv9QiPoMMkNy8AOaTEnlr5qrwg_i-jhqVq5BtozDs.webp?r=960"
                     alt=""/>
            </div>
            <div class="box">
                <img src="https://occ-0-8123-325.1.nflxso.net/dnm/api/v6/WNk1mr9x_Cd_2itp6pUM7-lXMJg/AAAABUFJ7Q34Ef_OqYsAKLV5drL4uzC3GrkH5E4MMVaxdG8oz_wVjv6OIF_gJ8BdjdIYc0bzMRblgrlpjHxjSQykx2T_Bja0vg4nxLNAB8tuxvDFV3z4HZpNvWsnOpaUAbZByW-7mcMXRlW6pzFhZWVR0z4VpaxLViVsXR_SqUOfZ5jELzk1gDGZF7_H1iu_gPleFe6y05M05iTK_EiDfLIhKMJ8mY5T9JpCoWp9TZUeKwsNiy-uMpqilKN25VIL07xzvcY22lyKGpMWMmqQ8CuE3tJIwQtTDUOAv_QBkD83O30__zdRbWUNQmKj.jpg?r=23d"
                     alt=""/>
            </div>
        </div>
    </section>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            장르
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">액션</a></li>
            <li><a class="dropdown-item" href="#">범죄</a></li>
            <li><a class="dropdown-item" href="#">SF</a></li>
            <li><a class="dropdown-item" href="#">코미디</a></li>
            <li><a class="dropdown-item" href="#">로맨스</a></li>
            <li><a class="dropdown-item" href="#">스릴러</a></li>
            <li><a class="dropdown-item" href="#">공포</a></li>
            <li><a class="dropdown-item" href="#">전쟁</a></li>
            <li><a class="dropdown-item" href="#">스포츠</a></li>
            <li><a class="dropdown-item" href="#">판타지</a></li>
            <li><a class="dropdown-item" href="#">음악</a></li>
            <li><a class="dropdown-item" href="#">뮤지컬</a></li>
            <li><a class="dropdown-item" href="#">멜로</a></li>
        </ul>
    </div>
    <section class="list_box_wrap" id="listContainer">
        <section class="list_box" th:each="movieList, iterStat : ${movieSubList}">
            <div th:each="movie : ${movieList}" class="list">
                <h1 th:text="${movie.id}"></h1>
                <div class="list_item">
                    <div class="additional-info">
                        <div style="padding-top: 10px;text-align: center;font-weight: bold;font-size: 25px;"
                             th:text="${movie.name}"></div>
                        <div class="sub_info">
                            <p style="margin: 5px 0 0 0;">설명 : <span th:text="${movie.content}"></span></p>
                            <p style="margin: 5px 0 0 0;">장르 : <span th:text="${movie.genre}"></span></p>
                            <p style="margin: 5px 0 0 0;">출연진 : <span th:text="${movie.cast}"></span></p>
                            <p style="margin: 5px 0 0 0;">개봉일 : <span th:text="${movie.movieRelease}"></span></p>
                            <div style="margin-top: 10px;">
                                <a th:href="@{|/movie/detail/${movie.id}|}">상세보기</a>
                                <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                                   th:data-uri="@{|/movie/vote/${movie.id}|}"
                                   style="text-decoration: none; color: #007bff;">
                                    추천
                                    <span class="badge rounded-pill bg-success" th:text="${#lists.size(movie.voter)}"
                                          style="margin-left: 5px;"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>



<!--    <section class="main_list_cont">-->
<!--        <div class="all_cont">-->
<!--            <div class="list">-->
<!--                <h1 class="movie_id"></h1>-->
<!--                <div class="list_item">-->
<!--                    <div class="additional-info">-->
<!--                        <div class="movie_name"></div>-->
<!--                        <div class="sub_info">-->
<!--                            <p><span></span></p>-->
<!--                            <p><span ></span></p>-->
<!--                            <p><span ></span></p>-->
<!--                            <p><span ></span></p>-->
<!--                            <div>-->
<!--                                <a>상세보기</a>-->
<!--                                <a>추천<span ></span></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
    <script>
        let imgContainer = document.querySelector(".img-container");

    setInterval(() => {
    let last = imgContainer.firstElementChild;
    last.remove();
    imgContainer.appendChild(last);
    }, 2500);
    </script>

</div>

</body>
</html>