<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="" style="width:1920px">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/mainlist.css">
</head>
<body>
<div layout:fragment="content">
    <section class="list_cont">

        <div class="suggestion_cont">
            <h1><strong>추천 10</strong></h1>




        <div class="img-container">
            <div class="box">
                <img src="https://occ-0-8123-325.1.nflxso.net/dnm/api/v6/WNk1mr9x_Cd_2itp6pUM7-lXMJg/AAAABa-FG8F84U35af8D-37rKK452hXyODVudHpyY4phtofByOLYryJb0y0m6_wbsxzciJ_FzSVX4ybOAOjyPMEwC7LEj2_kDeDF48r6.webp?r=b4d"
                     alt=""/>
            </div>
            <div class="box">
                <img src="https://occ-0-8123-325.1.nflxso.net/dnm/api/v6/WNk1mr9x_Cd_2itp6pUM7-lXMJg/AAAABXeLIzdzaadczNJnLTSxL7PAjpCZDbSpMCtc0C1-Yz8btDop0Hd6KpaBuRZ_iC5ns4WURdZ1zN6Bfd4t4Nks97BJuaNd_1Pco55JeBsbYOYAAK0XKdDNs8Uv8yJDNXUEblVN1TulWokAf8iXsDSwPmRgvfd-wCljGw8MfVlAz029-Fou1A_FD000aGMiSE7oU4wfSd6NkN_GLXkuaQYTpSl0vLzHliIFjKg8XObAujlyTRc_EWAgpG0LOwsI7r32vI0J3AZHnYmJuDEvbtqWtp3fZmzO.webp?r=c33"
                     alt=""/>
            </div>
            <div class="box">
                <img src="https://occ-0-8123-325.1.nflxso.net/dnm/api/v6/WNk1mr9x_Cd_2itp6pUM7-lXMJg/AAAABRsF7KC9y-HX4X3Z_7TVvbz7_698_ueyd2kDgB6x0w4bGLeldM8ZNwNTstvr_jrgKUPrOHpisKtQQLWEAJN33UZqGpJDHmpKUbeCYABc21dbz_RE0LJqWwcIQi8fZ4R8y0Ti1TRDghS1N852STxhooiQz045vttG83Em8xOIjQkOEUjzd2EMkJYZVeO8VkYXnqEiE6KLIxcg0jAAPgxyMXnMlPl_kwmSidrvY5h_7_KCmpFqUv3F8vnxeEjP2MoiEoz9Y5sEV9GXpKp3xXbFP2YrKPOk.webp?r=4ed"
                     alt=""/>
            </div>
            <div class="box">
                <img src="https://occ-0-8123-325.1.nflxso.net/dnm/api/v6/WNk1mr9x_Cd_2itp6pUM7-lXMJg/AAAABU8Q8LVaTAy5xJkTGyAwTuTYCzR4KejbSaeCCFHGMKgOY8LMO-4Igvyid-7tcCKV_SlDGrvBmrv6RMBNcJH5kGBb8wK35p8wihINdvFktVx_3b6qHUdlMGu0EWFvNaZvCCQK9D4J5BoQSAD46TzIXQ1k2P_vcTu__SEPzdlhyY4exy7lVHxHf1d0qdEdlHM44b1fyvf9gkqALPZQGOiL4Q2ECQ2EUweQacjZlVsc1lhYz20oQqxFzBKa17xRpyIx5Ly3-2yhxsR7FJybw8LGaMMRngAr.webp?r=f13"
                     alt=""/>
            </div>
            <div class="box">
                <img src="https://occ-0-8123-325.1.nflxso.net/dnm/api/v6/WNk1mr9x_Cd_2itp6pUM7-lXMJg/AAAABWSNy1b-y75mQb74Bq06viqKMwDsjAV0S7j4tMpQaf4NP0D5bLngZhfwYpDKv9QiPoMMkNy8AOaTEnlr5qrwg_i-jhqVq5BtozDs.webp?r=960"
                     alt=""/>
            </div>
            <div class="box">
                <img src="https://occ-0-8123-325.1.nflxso.net/dnm/api/v6/WNk1mr9x_Cd_2itp6pUM7-lXMJg/AAAABUFJ7Q34Ef_OqYsAKLV5drL4uzC3GrkH5E4MMVaxdG8oz_wVjv6OIF_gJ8BdjdIYc0bzMRblgrlpjHxjSQykx2T_Bja0vg4nxLNAB8tuxvDFV3z4HZpNvWsnOpaUAbZByW-7mcMXRlW6pzFhZWVR0z4VpaxLViVsXR_SqUOfZ5jELzk1gDGZF7_H1iu_gPleFe6y05M05iTK_EiDfLIhKMJ8mY5T9JpCoWp9TZUeKwsNiy-uMpqilKN25VIL07xzvcY22lyKGpMWMmqQ8CuE3tJIwQtTDUOAv_QBkD83O30__zdRbWUNQmKj.jpg?r=23d"
                     alt=""/>
            </div>
        </div>
    </section>


    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            장르
        </button>
        <ul class="dropdown-menu">
            <li th:each="genre : ${genres}">
                <a th:href="@{|/movie/mainList?genreId=${genre.id}|}" th:text="${genre.genreNm}"></a>
            </li>

        </ul>
    </div>
    <section class="list_box_wrap" id="listContainer">
        <section class="list_box">
            <div class="list genre" th:each="movie : ${movieList}">
                <h1 th:text="${movie.id}"></h1>
                <div class="list_item" th:style="'background-image: url(' + ${movie.posters } + ');'">
                    <div class="additional-info">
                        <div style="padding-top: 10px; text-align: center;font-weight: bold;font-size: 25px;"
                             th:text="${movie.movieNm}"></div>
                        <div class="sub_info">
                            <p style="margin: 5px 0 0 0;">개봉일 : <span th:text="${movie.openDt}"></span></p>
                            <div style="margin-top: 10px;">
                                <a th:href="@{|/movie/detail/${movie.id}|}">상세보기</a>
                                <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                                   th:data-uri="@{|/movie/vote/${movie.id}|}" onclick="voteMovie(${movie.id})">
                                    찜하기
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </section>
    <button class="left" onclick="movePage(-1)"><i class="fa-solid fa-chevron-left"></i></button>
    <button class="right" onclick="movePage(1)"><i class="fa-solid fa-chevron-right"></i></button>

    <script>
        let currentSlide = 0;
        const totalSlides = document.querySelectorAll('.list_box').length;
        const listContainer = document.getElementById('listContainer');
        const moveDistance = -1925; // 이동 거리

        function movePage(direction) {
            currentSlide += direction;

            // 처음 또는 마지막 슬라이드에 도달하면 반대편으로 이동
            if (currentSlide < 0) {
                currentSlide = totalSlides - 1;
            } else if (currentSlide >= totalSlides) {
                currentSlide = 0;
            }

            const translateValue = currentSlide * moveDistance;
            listContainer.style.transform = `translateX(${translateValue}px)`;


        }



    <script>
        window.addEventListener("keydown", function(e) {
        // space and arrow keys
        if([32, 37, 38, 39, 40].indexOf(e.keyCode) > -1) {
            e.preventDefault();
        }
    }, false);
    </script>
    <script>
        const recommendElements = document.getElementsByClassName('recommend');
        Array.from(recommendElements).forEach(function(element) {
            element.addEventListener('click', function() {
                if (confirm('이 영화를 찜하시겠습니까?')) {
                    location.href = this.dataset.uri;
                }
            });
        });
    </script>
    <script>
        let imgContainer = document.querySelector(".img-container");

    setInterval(() => {
    let last = imgContainer.firstElementChild;
    last.remove();
    imgContainer.appendChild(last);
    }, 2500);
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>

</div>

</body>
</html>