<html layout:decorate="~{layout}" lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/movielist.css">
    <script src="https://kit.fontawesome.com/9b3b71a088.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- jQuery UI -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
<div layout:fragment="content">
    <div class="list_title">
        <h1><strong>박스오피스</strong></h1>
        <div class="util_calendar open">
            <a href="#none" class="link_calendar" data-tiara-layer="schedule">
                <span class="ico_movie ico_calendar">달력 보기</span>
            </a>
            <div class="calendar_layer"><div class="inner_layer">
                <div class="layer_head">
                    <strong class="screen_out">날짜 선택 달력</strong>
                </div>
                <div class="layer_body">
                    <div class="set_calendar">
                        <div class="area_calendar">
                            <em class="tit_date"><a href="#none" class="link_date">2023년 12월</a></em>
                            <table class="tbl_calendar">
                                <caption class="ir_caption">날짜 선택 달력 표</caption>
                                <colgroup>
                                    <col>
                                    <col style="width:34px">
                                    <col style="width:34px">
                                    <col style="width:34px">
                                    <col style="width:34px">
                                    <col style="width:34px">
                                    <col>
                                </colgroup>
                                <thead>
                                <tr>
                                    <th scope="col">일</th>
                                    <th scope="col">월</th>
                                    <th scope="col">화</th>
                                    <th scope="col">수</th>
                                    <th scope="col">목</th>
                                    <th scope="col">금</th>
                                    <th scope="col">토</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><span class="link_day">26</span></td>
                                    <td><span class="link_day">27</span></td>
                                    <td><span class="link_day">28</span></td>
                                    <td><span class="link_day">29</span></td>
                                    <td><span class="link_day">30</span></td>
                                    <td class=""><a href="/ranking/boxoffice/weekly?date=20231201" class="link_day">1</a></td>
                                    <td class=""><a href="/ranking/boxoffice/weekly?date=20231202" class="link_day">2</a></td>
                                </tr>
                                <tr>
                                    <td class=""><a href="/ranking/boxoffice/weekly?date=20231203" class="link_day">3</a></td>
                                    <td class=""><a href="/ranking/boxoffice/weekly?date=20231204" class="link_day">4</a></td>
                                    <td class=""><a href="/ranking/boxoffice/weekly?date=20231205" class="link_day">5</a></td>
                                    <td class=""><a href="/ranking/boxoffice/weekly?date=20231206" class="link_day">6</a></td>
                                    <td class=""><a href="/ranking/boxoffice/weekly?date=20231207" class="link_day">7</a></td>
                                    <td class=""><a href="/ranking/boxoffice/weekly?date=20231208" class="link_day">8</a></td>
                                    <td class=""><a href="/ranking/boxoffice/weekly?date=20231209" class="link_day">9</a></td>
                                </tr>
                                <tr>
                                    <td class=""><a href="/ranking/boxoffice/weekly?date=20231210" class="link_day">10</a></td>
                                    <td class=""><a href="/ranking/boxoffice/weekly?date=20231211" class="link_day">11</a></td>
                                    <td class=""><a href="/ranking/boxoffice/weekly?date=20231212" class="link_day">12</a></td>
                                    <td class=""><a href="/ranking/boxoffice/weekly?date=20231213" class="link_day">13</a></td>
                                    <td class="selected"><a href="/ranking/boxoffice/weekly?date=20231214" class="link_day">14</a></td>
                                    <td class=""><a href="/ranking/boxoffice/weekly?date=20231215" class="link_day">15</a></td>
                                    <td class=""><a href="/ranking/boxoffice/weekly?date=20231216" class="link_day">16</a></td>
                                </tr>
                                <tr>
                                    <td class=""><a href="/ranking/boxoffice/weekly?date=20231217" class="link_day">17</a></td>
                                    <td class=""><a href="/ranking/boxoffice/weekly?date=20231218" class="link_day">18</a></td>
                                    <td class=""><a href="/ranking/boxoffice/weekly?date=20231219" class="link_day">19</a></td>
                                    <td class=""><a href="/ranking/boxoffice/weekly?date=20231220" class="link_day">20</a></td>
                                    <td class=""><a href="/ranking/boxoffice/weekly?date=20231221" class="link_day">21</a></td>
                                    <td class=""><a href="/ranking/boxoffice/weekly?date=20231222" class="link_day">22</a></td>
                                    <td class=""><a href="/ranking/boxoffice/weekly?date=20231223" class="link_day">23</a></td>
                                </tr>
                                <tr>
                                    <td class=""><a href="/ranking/boxoffice/weekly?date=20231224" class="link_day">24</a></td>
                                    <td class=""><a href="/ranking/boxoffice/weekly?date=20231225" class="link_day">25</a></td>
                                    <td class=""><a href="/ranking/boxoffice/weekly?date=20231226" class="link_day">26</a></td>
                                    <td class=""><a href="/ranking/boxoffice/weekly?date=20231227" class="link_day">27</a></td>
                                    <td class=""><a href="/ranking/boxoffice/weekly?date=20231228" class="link_day">28</a></td>
                                    <td class=""><a href="/ranking/boxoffice/weekly?date=20231229" class="link_day">29</a></td>
                                    <td class=""><a href="/ranking/boxoffice/weekly?date=20231230" class="link_day">30</a></td>
                                </tr>
                                <tr>
                                    <td class=""><a href="/ranking/boxoffice/weekly?date=20231231" class="link_day">31</a></td>
                                    <td><span class="link_day">1</span></td>
                                    <td><span class="link_day">2</span></td>
                                    <td><span class="link_day">3</span></td>
                                    <td><span class="link_day">4</span></td>
                                    <td><span class="link_day">5</span></td>
                                    <td><span class="link_day">6</span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <button type="button" class="btn_move btn_prev">
                            <span class="ico_movie">이전</span>
                        </button>
                        <button type="button" class="btn_move btn_next">
                            <span class="ico_movie">다음</span>
                        </button>
                    </div>
                </div>
                <a href="#none" class="btn_close"><span class="ico_movie">닫기</span></a>
            </div></div>
        </div>
    </div>
    <section class="list_box_wrap" id="listContainer">
        <section class="list_box" th:each="movieList, iterStat : ${movieSubList}">
            <div th:each="movie : ${movieList}" class="list">
                <h1 th:text="${movie.id}"></h1>
                <div class="list_item">
                    <div class="additional-info">
                        <div style="padding-top: 10px;text-align: center;font-weight: bold;font-size: 25px;"
                             th:text="${movie.name}"></div>
                        <div class="sub_info">
                            <p style="margin: 5px 0 0 0;">설명 : <span th:text="${movie.content}"></span></p>
                            <p style="margin: 5px 0 0 0;">장르 : <span th:text="${movie.genre}"></span></p>
                            <p style="margin: 5px 0 0 0;">출연진 : <span th:text="${movie.cast}"></span></p>
                            <p style="margin: 5px 0 0 0;">개봉일 : <span th:text="${movie.movieRelease}"></span></p>
                            <div style="margin-top: 10px;">
                                <a th:href="@{|/movie/detail/${movie.id}|}">상세보기</a>
                                <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                                   th:data-uri="@{|/movie/vote/${movie.id}|}"
                                   style="text-decoration: none; color: #007bff;">
                                    추천
                                    <span class="badge rounded-pill bg-success" th:text="${#lists.size(movie.voter)}"
                                          style="margin-left: 5px;"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <button class="left" onclick="movePage(-1)"><i class="fa-solid fa-chevron-left"></i></button>
    <button class="right" onclick="movePage(1)"><i class="fa-solid fa-chevron-right"></i></button>

    <script>
        let currentSlide = 0;
        const totalSlides = document.querySelectorAll('.list_box').length;
        const listContainer = document.getElementById('listContainer');
        const moveDistance = -1925; // 이동 거리

        function movePage(direction) {
            currentSlide += direction;

            // 처음 또는 마지막 슬라이드에 도달하면 반대편으로 이동
            if (currentSlide < 0) {
                currentSlide = totalSlides - 1;
            } else if (currentSlide >= totalSlides) {
                currentSlide = 0;
            }

            const translateValue = currentSlide * moveDistance;
            listContainer.style.transform = `translateX(${translateValue}px)`;


        }
    </script>
    <script>
        window.addEventListener("keydown", function(e) {
        // space and arrow keys
        if([32, 37, 38, 39, 40].indexOf(e.keyCode) > -1) {
            e.preventDefault();
        }
    }, false);
    </script>
    <script>
        const recommendElements = document.getElementsByClassName('recommend');
        Array.from(recommendElements).forEach(function(element) {
            element.addEventListener('click', function() {
                if (confirm('정말로 추천하시겠습니까?')) {
                    location.href = this.dataset.uri;
                }
            });
        });
    </script>

<!--    개발중임-->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Get the month link and table elements
            var monthLink = document.querySelector(".link_date");
            var calendarTable = document.querySelector(".tbl_calendar");

            // Function to update calendar based on selected month
            function updateCalendar(selectedDate) {
                // You can add logic to update the calendar for the selected month
                console.log("Selected month:", selectedDate);
            }

            // Previous month button click event
            document.querySelector(".btn_prev").addEventListener("click", function () {
                // You can add logic to calculate the previous month
                var selectedMonth = monthLink.textContent;
                // Example: Convert the month to a JavaScript Date object and subtract a month
                var prevMonth = new Date(selectedMonth);
                prevMonth.setMonth(prevMonth.getMonth() - 1);
                updateCalendar(prevMonth.toLocaleDateString('en-US', { year: 'numeric', month: 'long' }));
            });

            // Next month button click event
            document.querySelector(".btn_next").addEventListener("click", function () {
                // You can add logic to calculate the next month
                var selectedMonth = monthLink.textContent;
                // Example: Convert the month to a JavaScript Date object and add a month
                var nextMonth = new Date(selectedMonth);
                nextMonth.setMonth(nextMonth.getMonth() + 1);
                updateCalendar(nextMonth.toLocaleDateString('en-US', { year: 'numeric', month: 'long' }));
            });

            // Example: Handle date click event
            calendarTable.addEventListener("click", function (event) {
                if (event.target.classList.contains("link_day")) {
                    // You can add logic to handle the date click event
                    var selectedDate = event.target.textContent;
                    console.log("Date clicked:", selectedDate);
                }
            });

            // Initial calendar update (you can set it to the current date or any other initial date)
            updateCalendar(new Date().toLocaleDateString('en-US', { year: 'numeric', month: 'long' }));
        });
    </script>


</div>
</body>
</html>