<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <a th:href="@{/main}">Logo</a>
</div>
<!-- 폼을 이용한 HTML 코드 -->
<div class="login_container">
    <a class="Sing_up" role="button" th:if="${#authorization.expression('isAuthenticated()')}" th:href="@{|/review/create/${movie.id}|}">리뷰등록</a>
</div>
<div class="login_container">
    <a class="Sing_up" role="button" th:if="${#authorization.expression('isAuthenticated()')}" th:href="@{|/review/modify/${movie.id}|}">리뷰수정</a>
</div>
<p>제목</p><h1 th:text="${movie.name}"></h1>
<p>개봉일</p><span th:text="${movie.movieRelease}"></span>
<img th:src="${movie.image}" alt="">
<p>영화 설명</p><span th:text="${movie.content}"></span>

<h5 th:text="|${#lists.size(movie.reviewList)}개의 리뷰가 있습니다.|"></h5>
<div class="my-3">
    <ul th:each="review : ${movie.reviewList}" >
        <li th:text="${review.subject}"></li>
        <li th:text="${review.content}"></li>
        <li th:text="${review.rating}"></li>
        <li th:text="${review.starRating}"></li>
    </ul>
</div>
<!-- 여기에 다른 화면 요소들을 추가할 수 있음 -->
</body>
</html>