<!DOCTYPE html >
<html lang="en" layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="">
<body >
<nav th:fragment="navbarFragment">
    <div class="login_container">
        <div class="movie_name">
            <a href="/main">
            <i class="fa-solid fa-video" style="background: linear-gradient(45deg, #ff8a00, #e52e71); -webkit-background-clip: text; -webkit-text-fill-color: transparent;"></i>
            <span class="m_p">M</span><span class="m_o">o</span><span class="m_v">v</span><span
                class="m_i">i</span><span class="m_e">e</span>
            </a>
        </div>
        <div class="login">
            <a class="Sign_in" role="button" sec:authorize="isAnonymous()" th:href="@{/member/login}">Sign_in</a>
            <a class="Sign_in" role="button" sec:authorize="isAuthenticated()" th:href="@{/member/logout}">Sign_out</a>
            <a class="Sing_up" role="button" th:href="@{/member/signup}">Sing_up</a>
        </div>
    </div>
    <div class="sub_nav">
        <div class="dropdown dropdown-hover">
            <div tabindex="0" role="button" class="btn m-1" style="background: white; font-size:20px; font-weight:bold;">영화</div>
            <ul tabindex="0" class="dropdown-content z-[1] menu p-2 rounded-box w-52">
                <li><a href="/movie/list">Top100</a></li>
                <li><a href="/movie/mainList">장르</a></li>
            </ul>
        </div>
        <div class="dropdown dropdown-hover">
            <a href="/movie/intro" tabindex="0" role="button" class="btn m-1" style="background: white; font-size:20px; font-weight:bold;">소개</a>
        </div>
        <div class="dropdown dropdown-hover">
            <div tabindex="0" role="button" class="btn m-1" style="background: white; font-size:20px;font-weight:bold;">극장</div>
            <ul tabindex="0" class="dropdown-content z-[1] menu p-2  rounded-box w-52">
                <li><a href="#">지역</a></li>
                <li><a href="#">위치</a></li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>