<!DOCTYPE html>
<html layout:decorate="~{layout_without_header}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th=""
      style="width:1900px">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
</head>
<body style="background: #f2f2f2;">
<div layout:fragment="content">
    <div style="display:flex; justify-content: space-between; padding: 20px; margin-bottom: 20px; margin-top:20px;">
        <div th:each="genre : ${genreList}" class="genreItem">
            <button onclick="filterMoviesByGenre(this.innerText)" class="recommend btn btn-sm btn-outline-secondary"
                    style="color:black; font-weight:bold;background: aliceblue;"><span
                    th:text="${genre.genreNm}"></span></button>
        </div>
    </div>
    <section class="movie_room_cont" style="display:flex; flex-wrap:wrap; justify-content: center; width:100%;">
        <div th:each="movie : ${movieInfoList}" class="movieItem"
             style="border:solid 3px black; border-radius:5px; padding:10px; width:13%; text-align:center;margin: 10px">
            <img th:src="${movie.posters}" alt="" style="width:222px; height:305px;">
            <div style="height: 16vh; display: flex;flex-direction: column;justify-content: space-between;">
                <h2 th:text="${movie.movieNm}" style="font-weight: bold; font-size: 18px"></h2>
                <div class="detail_cont" th:each="genre : ${movie.genreMovieInfos}">
                    <label>장르:</label>
                    <p class="detail_cont_subb" th:text="${genre.genre.genreNm}" style="color:black;"></p>
                </div>
                <a th:href="@{|/board/article/list/${movie.id}?page=0|}"
                   class="recommend btn btn-sm btn-outline-secondary"
                   style="width: 100%;">들어가기</a>
            </div>
        </div>
    </section>
    <script>
        function filterMoviesByGenre(genre) {
            var movieItems = document.querySelectorAll('.movieItem');
            movieItems.forEach(function(item) {
                var genres = item.querySelectorAll('.detail_cont_subb');
                var found = false;

                genres.forEach(function(genreElem) {
                    if (genreElem.textContent.trim() === genre) {
                        found = true;
                    }
                });

                if (found) {
                    item.style.display = 'block';
                } else {
                    item.style.display = 'none';
                }
            });
        }
    </script>
</div>
</body>
</html>